<footer class="fixed-bottom bg-primary text-light p-2 d-sm-flex justify-content-around">
    <div class="text-center">
        Copyrights &copy; Reserved
    </div>
    <div class="text-center">
        <a href="https://facebook.com/chaganishameer" target="_blank" class="text-light h5 mx-2"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/shameerchagani" target="_blank" class="text-light h5 mx-2"><i class="fab fa-github"></i></a>
        <a href="https://join.skype.com/invite/A6W27VGSvQW5" target="_blank" class="text-light h5 mx-2"><i class="fab fa-skype"></i></a>
        <a href="https://linkedin.com/in/shameer-chagani-59aa211ab" target="_blank" class="text-light h5 mx-2"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/ChaganiShameer" target="_blank" class="text-light h5 mx-2"><i class="fab fa-twitter"></i></a>
        <a href="https://discord.com" target="_blank" class="text-light h5 mx-2"><i class="fab fa-discord"></i></a>
    </div>

</footer>
