<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="120" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" id="blogSearch" placeholder="Search Blog by title" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="search">Search</button>
      </form>
      <a href="/users/login" class="ml-3 btn btn-info">Login</a>
      <a href="/users/register" class="ml-3 btn btn-link text-light">Register?</a>
    </div>
    <script>
      blogSearch = document.getElementById('blogSearch')
      search = document.getElementById('search')
     search.addEventListener('click', function(){
       return blogTitle = blog.title.filter(title => title.includes(blogSearch))
       console(blogTitle)
     })
      
     
    </script>
  </nav>