    <div class="container my-auto">
        <h1 class="my-3">
            About the APP
        </h1>
        <p>
            Blog365 is a Public and Private blogs App where you can post your public or private stories.
            <br /> Public stories are visible to any logged in members.
            <br /> Private Storeis are visible to only the author/the user wrote the story/blog. 
            <br /> The author of the app only can delete the story/blog.
        </p>
    </div>
    
