    <p class="container">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor voluptates enim quaerat quos quae non repellat soluta voluptatem aperiam ducimus aut, modi debitis illo! Corporis quidem rerum sit harum recusandae placeat odit cum sapiente at odio sequi aspernatur suscipit saepe necessitatibus id, ab esse deserunt hic praesentium facere quaerat iusto natus ducimus. Reprehenderit vel magni iure, autem doloremque quas veritatis quisquam dolor delectus harum eos corrupti at id ea sed esse culpa, laboriosam praesentium sequi ratione perferendis ut, quibusdam eligendi mollitia! Vel maxime velit, dolor nulla magnam aut perferendis hic inventore expedita quas, enim optio minima alias quos, error commodi.
    </p>
    <%-include('./partials/footer')%>
